/* Code css de création d'un slide */
div#slider{
	width:95%;
	padding-top: 20px;
	max-width: 817px;
	overflow: hidden;
	align-content: center;
	margin-left:auto;
	margin-right:auto;
}

div#slider figure {
	position:relative;
	width: 500%;
	margin-left: 0;
	padding: 0;
	font-size: 0;
	left: 0;
	text-align: left;
	animation: 30s slidy infinite;
}

div#slider figure img {
	width: 20%;
	height: auto;
	float: left;
	transform:none;
}

/*Conteneur */
.wrapper {
	margin: auto;
	width: 900px;
	text-align: justify;
	max-height: 100%;
	-webkit-border-radius: 20px / 30px;
    -moz-border-radius:    10px / 20px; 
	border-radius:         10px / 20px;
	position: relative;
	top: 110px;
	background-color: rgb(197, 188, 188);	
}

  /* Div d'achat de livre voir R2D2*/
.oeuvres {
	position: absolute;
	top: 110px;
	max-height: 100%;
	right: 10px;
	width: 140px;
	background-color:  rgb(197, 188, 188);
	-webkit-border-radius: 20px / 30px;
    -moz-border-radius:    10px / 20px; 
	border-radius:         10px / 20px;
  }

  #liste_livre_1 
  {
	width:93px;
	padding-top: 10px; 
	margin-left: 22px;
	margin-right:auto;
  }

  /* Utilisation d'un logiciel de création de bouton CSS */
  #acheter_livre_1 {
	  
	background-color:#258a40;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:10px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	width: 120px;
	height: 30px;
	margin:auto;
	margin-left: 12px; 
	margin-top:5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

#acheter_livre_1:hover {
	background-color:#338209;
}

#acheter_livre_1:active{
	position:relative;
	top:1px;
}

/* Groupe de boutons pour le slide */
 .groupe-boutons{
	 padding-left:40%;
	padding-top: 12px;
 }

.bouton_rond_1
{
	width:30px;
	height:30px;
	background:#fafafa;
	box-shadow:2px 2px 8px #aaa;
	font:bold 13px Arial;
	border-radius:50%;
	color:#555;
	margin-left: auto;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 30px;
	width: 100%;
	  }

	#image1:active {
		background-color:red;
		animation-duration: 3s;
		animation-delay: 15s;
		animation-name: slice;
		animation-iteration-count: infinite;
	}

	/* Problème non résolue de switcher de d'image avec les 6 boutons 
    NON RESOLUE --> Javascript peut peut être résoudre leproblème */
@keyframes image_change_plus {
	0% {
		left: 0%;
	}
	100% {
		left:  100%;
	}
}

/* Fait fonctionner le slide */
@keyframes slidy {
	0% {
		left:0%
	   }
	20% { 
		left: 0% 
	}
	25% {
		left: -100%
	}
	45% {
		left:-100%
	}
	50% 
	 {
		 left:-200%
	 }	
	70%  {
		left:-200%
	}
	75%  
	{
		left:-300%
	}
	95%  {
		left:-300%
	}
	100% {
		left: -400%;
	}
}

/* Nous avons des problème de nom car plusieurs d'entre nous, on utiliser des div nommé global */
#global {
	position: relative;
	top:160px;
	max-width: 1200px;
	margin: auto;
	min-height:650px;	
	
}

#global5{
	position: relative;
	top: 350px;
	width: 1200px;
	max-width: 100%;
	text-justify: auto;
	margin: auto;
	min-height:650px;	
}

#imageArt {
position:absolute;
width: 200px;
height:300px;
right:700px;
top:120px;
}
.introduction
{
	color : white;
}
.dev
{
	color : white;
	position: right; 
}
em
{
	font-style: italic;
}
body
{ 
	margin:0;
	color:white;
	font-family: "Open Sans";
	background: url(fond.jpg);
	padding:0;
}
.onglet
{
	background: linear-gradient(black,rgba(0,0,0,0));
}
.onglet_courant
{
	background-color: rgba(0,0,0,0);
}
#fond_onglet
{
	width:100%; color:rgba(0,0,0,0);text-align:center; position: fixed; z-index: 1; background-image: url(fond.jpg);
}
#presentation
{ 
	width:25%; color:white;text-align:center; position: fixed; z-index: 2;
}
#oeuvres
{ 
	width:25%;color:white; text-align:center; position: fixed; margin-left: 50%;  z-index: 2;
}
#films
{
	width:25%; color:white;text-align:center; position: fixed; margin-left: 75%;   z-index: 2;
}
#bio
{
	width:25%; color:white; text-align:center; position: fixed; margin-left: 25%;   z-index: 2;
}
#logo_iut
{
	width: 10%; 
	left: 0px;
	margin-top: 80px;
	position: absolute;
}
#cadre
{
	border-radius: 10px white solid; 
}
p
{
	text-align: justify;
}
#contact
{
	float: right; 
	border: 3px grey solid; 
	border-radius: 10px; 
	position: absolute;
	bottom: 5px;  
	right: 75%; 
	width: 24%; 
	text-align: center; 
	background-color: black; 
}
#sources
{
	float: right; 
	border: 3px grey solid; 
	border-radius: 10px; 
	position: absolute;
	bottom: 5px; 
	right: 50%; 
	width: 24%; 
	text-align: center; 
	background-color: black; 
}
#RS
{
	float: right; 
	border: 3px grey solid; 
	border-radius: 10px; 
	position: absolute;
	bottom: 5px; 
	right: 25%; 
	width: 24%; 
	text-align: center; 
	background-color: black; 
}
#Remerciements
{
	float: right; 
	border: 3px grey solid;
	border-radius: 10px;
	position: absolute;
	bottom: 5px; 
	right: 0px; 
	width: 24%; 
	text-align: center; 
	background-color: black; 
}
.tooltip span
{
  visibility: hidden;
  position: absolute;
  bottom: 30px;
  left: 50%;
  z-index: 999;
  width: 230px;
  margin-left: -127px;
  padding: 10px;
  border: 2px solid #ccc;
  opacity: .9;
  background-color: #ddd;
  border-radius: 4px;
}
.tooltip:hover
{
  border: 0; /* IE6 fix */
}
.tooltip:hover span
{
  visibility: visible;
  color: black;
}
.tooltip span:before,
.tooltip span:after
{
  content: "";
  position: absolute;
  z-index: 1000;
  bottom: -7px;
  left: 50%;
  margin-left: -8px;
  border-top: 8px solid #ddd;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 0;
}
.tooltip span:before
{
  border-top-color: #ccc;
  bottom: -8px;
}
#portrait
{
	overflow:hidden;
    border-radius:40px;
	border: 3px #313131 solid;
	position:absolute;
	width: 200px;
	height:300px;
	right:700px;
	top:120px;
}
#P_oeuvres
{
	width: 80%;
	float: left; 
	padding-right: 30px; 
	box-sizing: border-box; 
}
.couv
{
	width : 20%; 
	float : right; 
	border-radius: 2px grey solid;
	padding-bottom: 30px; 
	clear: both;
}
.lien_lois
{
	color: #E30000;
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
}
.vide
{
	clear: both;
}
table {
border: medium solid grey;
width: 60%;
margin-left: 20%; 
}
td, th {
border: thin solid grey;
width: 25%;
text-align: center; 
}

.column{
    position: relative;
	word-wrap: break-word;
}	

.chronologie {
	position: absolute;
	top:565px;
	right: 200px;
	
	/*background-color:red;*/
	width: 380px;
	max-height: 100%; 
	
}

/* abondonné car la qualité d'une grande image = pixelisé = moche */
#chronoImage {
 width: 800px;
 height:1650px;
}

/* Div contenant le paragraphe et l'image */
.global {
	position: relative;
	top: 150px;
	max-height: 100%;
	width: 100%;
}

.global2 {
	position: relative;
	top: 180px;
	max-height: 100%;
	width: 100%;
	
}
.global3 {
	position: relative;
	top: 270px;
	max-height: 100%;
	width: 100%;
}
.global4 {
	position: relative;
	top:300px;
	max-height: 100%;
	width: 100%;
}

.global5 {
	position: relative;
	top: 450px;
	max-height: 100%;
	width: 100%;
}
/* Div de paragraphes */
.wrapperParag{
	width: 950px;
	float: left;
	text-align: justify;
	max-height: 100%;
	-webkit-border-radius: 20px / 30px;
    -moz-border-radius:    10px / 20px; 
	border-radius:         10px / 20px;
	margin-left:150px;
	height: 300px;
}

/* Div d'images de couverture, séparé a cause de la taille du paragraphe */ 
.wrapperImage1{
	margin-right:3%;
	float: right;
	width: 300px;
	margin-top: 25px;
}

.wrapperImage2{
	margin-right:3%;
	float: right;
	width: 300px;
	margin-top: 30px;
}

.wrapperImage3{
	margin-right:3%;
	float: right;
	width: 300px;
	margin-top: -30px;
} 

.wrapperImage4{
	margin-right:3%;
	float: right;
	width: 300px;
	margin-top: 0px;
}

.wrapperImage5{
	margin-right:3%;
	float: right;
	width: 300px;
	margin-top: -50px;
}
/* div contenant l'article p */
#article {
	
	text-justify: auto;
}

/* arbre de créaation du menu ex: presentation-video, 
presentation-content, presentation-x*/
.presentation-content {
width: 800px;
margin: auto;
margin-top: 50px;
}

.presentation-p{
	width: 1000px;
	margin: auto;
	margin-top: 50px;
}

/*Div taille de la video (NE PAS TOUCHER)*/
iframe {
	width: 800px;
	height: 500px;
	margin: auto;
}

/* Image de la fresque chronologique dans la page oeuvre*/
.chrono-fresque {
	position: relative;
	width: 800px;
	margin: auto;
	top: 20px;
	right: 220px;
}

.Tfilm
{
	font-size:22px;
}

